
.slide-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  word-break: break-word;
}

.rest-centered {
  margin: auto;
}

code {
  max-height: 280px;
  font-size: 12px;
}

.row.img-row {
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-row img {
  align-self: flex-start;
}

figure {
  margin: 0;
}
figure.center {
  text-align: center;
}
figcaption {
  margin-bottom: 1em;
}

figure.support-table {
  margin: 0 auto;
  width: 100%;
}
figure.support-table table {
  /*font-size: 1em;*/
  width: 100%;
}
figure.support-table th:nth-child(2),
figure.support-table th:nth-child(3),
figure.support-table td:nth-child(2),
figure.support-table td:nth-child(3) {
    text-align: center;
}
figure.support-table thead th {
  color: #5d6f82;
  border: 0;
  padding-bottom: 1em;
  text-align: left;
}
figure.support-table th[colspan="3"] {
  background-color: rgba(0, 0, 0, 0.04);
  text-align: left;
}
figure.support-table .group-end td {
  border-bottom: 0;
  padding-bottom: 1em;
}
figure.support-table .group-end:last-of-type td {
  padding-top: 1.25em;
}

.logos {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.logos li {
  display: inline-block;
  margin: 10px 0;
  width: 50%;
}
.logos li:last-child {
  width: auto;
}
.logos li img {
  margin: 0;
}
.bottom-aligned-image {
  position: absolute;
  width: 100%;
  bottom: 2px;
  left: 0;
  z-index: 3;
}

.text-centered {
  text-align: center;
}

.wave {
  z-index: 1;
}

.chapter-heading {
  z-index: 1;
  text-align: center;
}

.chapter-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.subhead {
  font-size: 80%;
  font-style: italic;
}

.list-center, .list-right {
  font-size: 25px;
}
.list-center li {
  margin-bottom: 0.2em;
}
.list-center.smaller {
  font-size: 20px;
}
.list-center.smaller li {
  margin-bottom: 0.5em;
}
.list-right {
  margin-left: 270px;
  margin-top: 60px;
}

.row.space-evenly {
  justify-content: space-evenly;
}

.vertical-center {
  height: 335px;
  align-items: center;
}

.centered-logos img {
  display: inline-block;
  vertical-align: middle;
}
.centered-logos img#npm {
  margin: 20px 0 0 20px;
}
.centered-logos span:before {
  content: 'on';
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0px 0 0 10px;
}

.row h2 {
  z-index: 2;
}

.white {
  color: #fff;
}
.title.muted {
  color: #6d7174;
}
.contact-cards {
  justify-content: center;
  margin-top: 40px;
}

.contact-cards .card {
  margin: auto;
}

.xlarge {
  font-size: 2.25em;
}
.large-profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #87bbe4;
  margin-top: 20px;
}

.profile-text {
  margin-top: 10px;
  margin-bottom: 0;
}

.list-rows {
  margin: 0 auto;
}
.list-rows ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.list-rows ul li {
  background-color: #dde3e8;
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  min-height: 70px;
  padding: 0 10px;
  margin: 0 10px;
  text-align: center;
}
.list-rows ul li:before {
  box-sizing: border-box;
  content: '';
  display: block;
  padding-top: 20px;
}

.list-siblings {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.list-siblings > div {
  padding: 1em 15px;
}
.list-siblings p {
  text-align: center;
}
